<% provide(:title, "The Team") %>

<div class='container'> 
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <h2 class="page-heading">The Team</h2>
    <div class="card-team">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="card">
          <img class="card-img-top" src="http://res.cloudinary.com/small-change/image/upload/v1456715303/henez_vs7jat.jpg" alt="Henry Wells" width="100%" height: "10px">
          <div class="card-block">
            <h4 class="card-title">Henry Wells <small>cofounder</small></h4><br>
            <p class="card-text", style="text-align: justify">Henry Wells is the business development lead and co-founder of Small Change.The idea of Small Change was first discussed in Henry’s backyard in Sydney. Since then, Henry has been responsible for the company’s overall vision and strategy as well as its day-to-day operations. Henry studies Law at the University of New South Wales. He dabbles on the violin and plays football for Spirit FC.</p>
            <div class="text-right">
              <a href="http://www.linkedin.com/in/henry-wells-2632a8110?authType=NAME_SEARCH&authToken=tiPP&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CentityType%3AentityHistoryName%2CclickedEntityId%3Amynetwork_466532715%2Cidx%3A1"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="card">
          <img class="card-img-top" src="http://res.cloudinary.com/small-change/image/upload/v1456719118/Samcropped_nygxad.jpg" width="100%" height: "10px">
          <div class="card-block">
            <h4 class="card-title">Sam Henderson <small>cofounder</small></h4><br>
            <p class="card-text", style="text-align: justify">Sam Henderson is the technical lead and co-founder of Small Change.
            Sam was inspired by the idea of Small Change. So much so that he quit his day job, learnt the programming language Ruby on Rails and built the Small Change site from scratch. 
            Sam is a Mathematics and Physics major graduating from The University of Sydney with a Bachelor of Science (Adv). He plays C grade cricket for the Killara Bingles Cricket Club.</p>
            <div class="text-right">  
              <a href="https://www.linkedin.com/in/sam-henderson-8a2a62b7"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


















