<% provide(:title, "Founders") %>

<h1>About The Founders</h1>
    <div class = "founders">
  	<%= link_to image_tag("henry.jpg", :size => "135x145", :class => 'founders-img', alt: "Henry Wells"), 'localhost:3000' %> 
  	<br>
  	<br>
  	<h4>Henry Wells (CEO, cofounder) <h4>
  	<br>
  	<p class = 'founder-txt'><b>Henry Wells</b> is the CEO and co-founder of Small Change, an online payment platform that connects real world issues with socially aware citizens through online media.
The idea of Small Change was first discussed in Henry’s backyard in Sydney. Since then, Henry has been responsible for the company’s overall vision and strategy as well as its day-to-day operations.
Henry graduated from The University of NSW with a Bachelor of Law.
He is pretty handy on the violin and plays 1st Grade football for Spirit FC.</p>

  	<br><br><br>
  	<%= link_to image_tag("Sam Edited.jpg", :size => "135x145", :class => 'founders-img', alt: "Sam Henderson"), 'localhost:3000' %>
  	<br><br>
  	<h4>Sam Henderson (CTO, cofounder) <h4> <br>
  	<p class = 'founder-txt'><b>Sam Henderson</b> is the technical lead and co-founder of Small Change.
Coming from a technical background, Sam was inspired by the idea of Small Change. So much so that he quit his day job, taught himself the programming language Ruby on Rails and built the Small Change site from scratch. 
Sam is a Mathematics and Physics major graduating from The University of Sydney with a Bachelor of Science (Adv). He plays C grade cricket for the Killara Bingles Cricket Club.
</p>
    </div>


 
