<% provide(:title, "About Small Change") %>

  <div class = 'row'>
      <div class="page-header">
          <h1>Introduction <small>Small Change</small></h1>
      </div>
      <p class = 'centre'> Small Change allows any media content to be repurposed to raise money for charities and causes. Rather than simply liking, sharing or re-tweeting, individuals can link an article, image or video to a relevant charity and empower their friends and followers to make a <b><em>real</em></b> contribution when they are most emotionally invested in an issue. We are trying to fix slacktivism.</p><br>
    
  </div>

  <div class = 'row centre'>
    <br><%= link_to 'See How Small Change Works', howitworks_path, class: 'btn btn-lg btn-success' %><br>
  </div>

   <div class = 'row'>
    <div class = 'col-md-12'>
      <div class="page-header">
          <h1>Slacktvism <small>The self deluded idea that by liking, sharing or retweeting something you are helping out <em> Urban Dictionary </em></small></h1>
      </div>

    </div>
  </div>



<%= render 'layouts/footer' %>




  


