<% provide(:title, "About Small Change") %>
<%= render 'layouts/header' %>

 <br><h1> About Small Change </h1><br>

    <div class='col-md-3'></div>
    <div class = 'col-md-6'>

    <p><center><em> Small Change is an online platform that allows any media content to be repurposed to raise money for charities and causes.  Rather than simply liking, sharing or re-tweeting, our ActionBar enables your friends and followers to take real action after viewing the content you share. By making the media content the means of helping, when the content goes viral, so to does the means of taking action. </center></em></p><br>
    </div>

    <div class='col-md-3'></div>

    
  </div>
  <br><br>
  <h2> How It Works </h2><br><br><br><br>

  <div class = 'row'>
  <center>
  <%= image_tag('hiwimage.png', width: 1010, height: 1200,) %>
  </center>
  </div>

  <br><br><br><h2> Track your impact & see what's trending! </h2><br><br><br>



   <div class = 'row'>
  <center>
  <%= image_tag('trendingartimage.png', width: 900, height: 600,) %>
  </center>
  </div>

</div>





<%= render 'layouts/footer' %>




  


