<% provide(:title, "About Small Change") %>
<%= render 'layouts/header' %>

  <div class = 'row'>
      <div class="page-header">
          <h1>About <small>Small Change Ending Slacktivism</small></h1>
      </div>
  </div>


<div class = 'row'>
  <br><br><h3 class='centre'> Small Change provides the tools to convert moral outrage on social media into <b><em>tangible</em></b> benefit.</h3><br><br>
</div>

<div class = 'row'>
  <div class = 'col-md-12 panel panel-default'>
    <p class = 'centre'> <br> By sharing a link through Small Change, the <b>Action Bar</b> gives your followers an easy way of taking action. People are most likely to take action when they are at the high point of their emotional engagement. It's about making facebook activism more effective.</p><br>
  </div>
</div>


  

  <div class = 'row centre '>
  <br> <%= link_to 'See How Small Change Works', howitworks_path, class: 'btn btn-lg btn-success HIWbutton' %><br>
  </div>
  



<%= render 'layouts/footer' %>




  


