<div class='container'>
  <div class='col-md-6 col-md-offset-3'>
    <div>
      <h1> What is the aim of your post? </h1>
    </div>
      <div class=''>
        <%= link_to "I WANT PEOPLE TO SIGN A PETITION", edit_submission_path(id: params[:submission], type: "petition"), class: "btn btn-block btn-black btn-lg" %>
      </div>
      <div class =''>
        <br><%= link_to "I WANT TO RAISE MONEY FOR CHARITY", edit_submission_path(id: params[:submission], type: "donation"), class: "btn btn-block btn-black btn-lg"%>
      </div>
  </div>
</div>