<div class = 'container'>

    <br><br><br><br><div class = 'other_heading'><h1> What is the aim of your post? </h1></div>

  <div class = 'col-md-4'></div>

  <div class = 'col-md-4'>
 

      <div class = 'row'>
       <br><br><br><br><%= link_to "Petition", edit_submission_path(id: params[:submission], type: "petition"), class: "btn btn-block btn-success btn-lg" %>
      </div>

      <div class = 'row'>
       <br><br><br><br><%= link_to "Donation", edit_submission_path(id: params[:submission], type: "donation"), class: "btn btn-block btn-warning btn-lg"%>
      </div>

  </div>

  <div class = 'col-md-4'></div>

  

</div>