<% provide(:title, "Contact Us") %>


<h1>Contact Us</h1>

<br><br>
<h3>Office Details</h3>
<br>
<p>Address: 1 Example Road, Suburb</p>
<p>Phone: 12345678
<p>Email: info@smallchange.org </p>
<p>Map</p>

