<% provide(:title, "FAQ") %>
<div id="faq">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 ">
      <h2 class='page-heading'>Frequently Asked Questions </h2><br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!-- Nav tabs category -->
          <!-- Tab panes -->
          <div class="tab-content faq-cat-content">
            <div class="tab-pane active in fade" id="faq-cat-1">
                <div class="panel-group" id="accordion-cat-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-1-sub-5">
                                <h4 class="panel-title">
                                    What Happens To My Contact Information? <span class="pull-right"><i class="fa fa-angle-double-down"></i></span>
                                </h4>
                            </a>
                        </div>
                        <div id="faq-cat-1-sub-5" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                We do not make any of your contact information available to any charity or third party for marketing purposes, without your express permission.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                <h4 class="panel-title">
                                    Does Small Change take a piece of the action? <span class="pull-right"><i class="fa fa-angle-double-down"></i></span>
                                </h4>

                            </a>
                        </div>
                        <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                5% of your donation goes towards Small Change to help us keep up the fight against slacktivism.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-1-sub-2">
                                <h4 class="panel-title">
                                    What Can I Do To Support Small Change? <span class="pull-right"><i class="fa fa-angle-double-down"></i></span>
                                </h4>
                            </a>
                        </div>
                        <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                We need charity partners. And we need activists to use our platform. If you know either, please get them to email Henry at henry@smallchangegiving.co
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-1-sub-3">
                                <h4 class="panel-title">
                                    I'm A Charity. How Do I Get On Small Change? <span class="pull-right"><i class="fa fa-angle-double-down"></i></span>
                                </h4>
                            </a>
                        </div>
                        <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                Great, we are looking to get new charities on board. Email Henry, henry@smallchangegiving.co and you can start attracting donations through us right away.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-1-sub-4">
                                <h4 class="panel-title">
                                    How Do I Know My Credit Card Details Are Secure? <span class="pull-right"><i class="fa fa-angle-double-down"></i></span>
                                </h4>
                            </a>
                        </div>
                        <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                All our payments are handled by Stripe, a trusted online payment gateway.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-1-sub-6">
                                <h4 class="panel-title">
                                    How Do I Contact The Small Change Team? <span class="pull-right"><i class="fa fa-angle-double-down"></i></span>
                                </h4>
                            </a>
                        </div>
                        <div id="faq-cat-1-sub-6" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                You can email one of Small Change's founders, Henry Wells, on henry@smallchangegiving.co                          
                            </div>
                        </div>
                    </div>
                </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>





