<% provide(:title, "Our Goal") %>

 <br>

<div class = "goal-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/TC_VmgZ84dE" frameborder="0" allowfullscreen></iframe>
</div>
<br/><br/><br>

<div class="heading">
<h1>Small Change's Goal</h1>
</div>



<div class="bridge">
<%= image_tag "Bridge1.png", size: "900x400" %>
</div><br><br>

<h2> <b>Real world problems solved by social media</b> </h2>




<%= render 'layouts/footer' %>

