<% provide(:title, "Our Goal") %>

<h1>Small Change's Goal</h1>

<br/><br/>

<div class = "goal-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/TC_VmgZ84dE" frameborder="0" allowfullscreen></iframe>
</div>


<%= render 'layouts/footer' %>

