<h1> Donate to Small Change </h1>

<div class="row">

	<div class="col-md-4">
     	<div class = "centre"> 
     		<%= image_tag "OneSC.png", size: "320x310", :class => 'donation-img' %>
     	</div>
	</div>

	<div class="col-md-4">
     	<div class = "centre"> 
     		<%= image_tag "TwoSC.png", size: "320x310", :class => 'donation-img' %>
		</div>
	</div>	

	<div class="col-md-4">
     	<div class = "centre"> 
     		<%= image_tag "ThreeSC.png", size: "320x310", :class => 'donation-img' %>
     	</div>
	</div>

</div>


<div class="row">
	<br><br>

	  <div class = "container">
	  	<div class = "padleft">
	  		<div class="col-lg-6">
	  			<div class="input-group">
	     			<input type="text" class="form-control" placeholder="Enter Other Amount (AUD $)">
	      			<span class="input-group-btn">
	        			<button class="btn btn-info" type="button">Donate</button>
	      			</span>
	    		</div><!-- /input-group -->
	  		</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	  </div>
</div>


<div class="row"><br><br>
	<h2> We find it slightly obnoxious to take a big cut of our your generous charity donations.  So we don't.<p> </p>But we still have running costs which we need to meet. If you think Small Change is awesome (like we do), please help us out.</h2>

	<%=render 'layouts/footer' %>

