<br>
<h1> Donate to Small Change </h1>
<br><br>

<div class="row">

	<div class="col-md-4">
     	<div class = "centre"> 
     		<%= image_tag "OneSCa.png", size: "220x220", :class => 'hvr-grow' %>
     	</div>
	</div>

	<div class="col-md-4">
     	<div class = "centre"> 
     		<%= image_tag "TwoSCa.png", size: "220x220", :class => 'hvr-grow' %>
		</div>
	</div>	

	<div class="col-md-4">
     	<div class = "centre"> 
     		<%= image_tag "ThreeSCa.png", size: "220x220", :class => 'hvr-grow' %>
     	</div>
	</div>

</div>


<div class="row">
	<br><br><br>

			<div class="col-lg-4">
			</div>

	  		<div class="col-lg-4">
	  			<div class="input-group">
	     			<input type="text" class="form-control" placeholder="Enter Other Amount (AUD $)">
	      			<span class="input-group-btn">
	        			<button class="btn btn-info" type="button">Donate</button>
	      			</span>
	    		</div><!-- /input-group -->
	  		</div><!-- /.col-lg-6 -->

	  		<div class="col-lg-4">
			</div>
		
</div>


<div class="row"><br><br>
	<h2> We find it slightly obnoxious to take a big cut of our your generous charity donations.  So we don't.</h2>

	<%=render 'layouts/footer' %>

