<p>Hey</p>
<p>Thanks for joining the Small Change community. We're passionate about making social media use worthwhile.</p>
<p>Check out your dashboard on <a href="http://www.smallchangegiving.co/">our website</a>.</p>
<p>You can start a new campaign from there and keep watch as it grows. We have a leaderboard for you to see how your campaigns are going compared to our other Small Changers.</p>
<p>Regards,</p>
<p>Sam</p>