<p class='admin-header'>Small Change Summary</p>
<div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
  <div class="panel">
    <p><%= @users.count %> Users</p>
  </div>
</div>
<div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
  <div class="panel">
    <p>Views</p>
  </div>
</div>
<div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
  <div class="panel">
    <p>Amount Raised</p>
  </div>
</div>
<div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
  <div class="panel">
    <p> <%= @donations.count %> Donations</p>
  </div>
</div>
<div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
  <div class="panel">
    <p>Actions</p>
  </div>
</div>
<div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
  <div class="panel">
    <p><%= @submissions.count %> Submissions</p>
  </div>
</div>