<ul class="timeline">
  <li>
    <div class="timeline-badge"><span>1</span></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h3 class="timeline-title">See something online that rustles your feathers</h3>
        <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
      </div>
      <div class="timeline-body">
        <p>We often stumble upon news articles & YouTube videos that rub us up the wrong way.</p>
        <img src="http://res.cloudinary.com/small-change/image/upload/v1456274606/Screen_Shot_2016-02-24_at_11.53.17_am_ufs7eo.png" width="100%" class="timeline-img">
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge"><span>2</span></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h3 class="timeline-title">Add the article into Small Change</h3>
      </div>
      <div class="timeline-body">
        <p>Copy the URL of the online content and paste it into Small Change.</p>
        <img src="http://res.cloudinary.com/small-change/image/upload/v1456274611/Screen_Shot_2016-02-24_at_11.53.06_am_udwnjf.png" width="100%" class="timeline-img">
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge"><span>3</span></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h3 class="timeline-title">Pick a charity, or add a petition</h3>
      </div>
      <div class="timeline-body">
        <p>Choose from any of our available charities, or enter the URL of a petition related to your submission.</p>
        <img src="http://res.cloudinary.com/small-change/image/upload/v1456274600/Screen_Shot_2016-02-24_at_11.53.39_am_tdvfxo.png" width="100%" class="timeline-img">
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge"><span>4</span></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h3 class="timeline-title">We'll add our Action Bar</h3>
      </div>
      <div class="timeline-body">
        <p>Our ActionBar will appear across the top of your submission. It's now ready to share on your social media. The ActionBar gives your followers a way of taking easy, tangible action on the post you shared.</p>
        <img src="http://res.cloudinary.com/small-change/image/upload/v1456274599/Screen_Shot_2016-02-24_at_11.54.05_am_zxstfg.png" width="100%" class="timeline-img">
      </div>
    </div>
  </li>
</ul>
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 text-center">
  <img src="http://res.cloudinary.com/small-change/image/upload/v1456268937/shareimage_qxci0s.png" width="100%" class="social-media-img">
  <h3>Take Action</h3>
  <p>Share your article all over Social Media, and everyone that clicks your unique link will see the Action Bar and will have the chance to support your cause.</p>
</div>
