<div id="welcome" class="">  
  <div class='container'>
    <div class=''>
      <h1>Improve the effectiveness of your social media activism</h1>
      <%= simple_form_for(@submission) do |f| %>
        <div class="input-group input-group-md">
          <%= f.input_field :url, class: 'form-control', placeholder: "Paste URL of article here" %>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Submit Article</button>
            </span>
        </div>
      <% end %>
    </div>
  </div>
</div><!-- /.row -->
