
    <div class = "container">
      
    
    




      <div class = "logo">

           <br><br><%= image_tag "logosix.png", size: "250x250", alt: "Small Change Logo" %>
        </div>
        <div class = 'other_heading'>
        <h2 class = 'other_heading'> Make your facebook post meaningful. </h2><br>
        </div>
        <div class = 'col-lg-4'>
        </div>

        <div class="col-lg-4">
          <%= simple_form_for(@submission) do |f| %>
            <div class="input-group input-group-md">
                <%= f.input_field :url, class: 'form-control', placeholder: "Paste URL of article here" %>
                  <span class="input-group-btn">
                     <button class="btn btn-success" type="submit">Submit Article</button>
                   </span>
            </div>
          <% end %>

         <div class = 'col-lg-4'>
        </div>


            <div class='centre'>
              <br><br><br>

              <%= link_to "How Small Change Works", howitworks_path , class: 'btn btn-default ' %>

            </div>
        </div><!-- /.col-lg-6 -->

     







        
      </div><!-- /.row -->

