
    <div class = "container">
      

        <div class = 'other_heading'>
        <br><br><br><br><h1> Make your facebook post meaningful. </h1><br>
        </div>
        <div class = 'col-sm-4'>
        </div>

        <div class="col-sm-4">
          <br><br><%= simple_form_for(@submission) do |f| %>
            <div class="input-group input-group-md">
                <%= f.input_field :url, class: 'form-control', placeholder: "Paste URL of article here" %>
                  <span class="input-group-btn">
                     <button class="btn btn-primary" type="submit">Submit Article</button>
                   </span>
            </div>
          <% end %><br><br><br><br><br><br>

         <div class = 'col-sm-4'>
        </div>


     
        </div><!-- /.col-sm-6 -->

     







        
      </div><!-- /.row -->

