<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h2 class="page-heading">Thank! We've received your donation.</h2>
    <p>You paid: $2</p>
    <p>Date: <%= @donation.created_at %></p>
    <p>Charity: <%= @charity.name %></p>
    <p>A confirmation email has been sent to: <%= current_user.email %></p>
  </div>
</div>