<% if @submission.youtube == true %>
<% type = "video" %>
<% else %>
<% type = "article" %>
<% end %>


  
  <div class = 'banner', style="max-height: 90px">

     <div class = 'col-sm-1 bar_logo hvr-grow'>
          <%= link_to image_tag('bar_logo_two.png', class: "bar_logo", size:"90x55"), root_path  %>        
      </div>

      <div class = 'col-md-5 article_des'>
      <p class = 'banner_text  article_des'> Feel strongly about this? Take action here. </p>
      </div>

  </div>


    
  
  
