<% if params[:charity_id] %>
  <h2 class="sc-header"></h2>
  <h2 class="petition-tagline">Which mission of <%= @charity.name %>?</h2>
<% else %>
  <h2 class="sc-header">Nice one!</h2>
  <h2 class="petition-tagline">Select a Related Charity.</h2>
<% end %>


    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-offset-1">
        <div class="col-xs-2">
          <img src="https://www.cufa.org.au/wp-content/uploads/2015/05/cufa-logo.jpg" class="charity-image-vid">
        </div>
        <div class="col-xs-2">
          <img src="http://nnimgt-a.akamaihd.net/transform/v1/crop/frm/storypad-Q6Mu39cZKqCdkfBiLBBArJ/00377f3e-62aa-4052-9f09-7220df18d36e.jpg/r0_12_600_424_w1200_h678_fmax.jpg" class="charity-image-vid">
        </div>
        <div class="col-xs-2">
          <img src="https://yt3.ggpht.com/-G-iMITTyRaI/AAAAAAAAAAI/AAAAAAAAAAA/9aMIvtHEAaA/s88-c-k-no-rj-c0xffffff/photo.jpg" class="charity-image-vid">
        </div>
        <div class="col-xs-2">
          <img src="http://vegan-magazine.com/wp-content/uploads/2013/01/World-Wildlife-Fund-logo.jpg" class="charity-image-vid">
        </div>
        <div class="col-xs-2">
          <img src="https://notafishblog.files.wordpress.com/2014/12/greenpeace-logo1.jpg
    " class="charity-image-vid">
        </div>
      </div>
    </div>
  </div>




    
        












