

<table border="0" style="width:100%; margin-bottom:10%">
  <tr>
    <td class="space" style="background-image: url(http://res.cloudinary.com/small-change/image/upload/v1460529623/greenbgcompressed_hwaaqy.png);background-size: cover;background-repeat: no-repeat;height: 300px;">
        <p class="how-it-works" style="color: white;font-size:50px; font-family: Helvetica;padding-top: 10px;padding-bottom: 10px;text-align: center;font-weight: 100;">
          Small Change
        </p>
      
    </td>
  </tr>
  <tr>
    <td class="">
      <center>
        <p class="howdy-top" style="font-size: 17px; color: black; font-family: Helvetica;font-weight: 100;letter-spacing: 0px;padding-top: 5%;">This is a receipt to prove that:</p>
        <p class="howdy-bot" style="font-size: 17px;font-weight: 100; color: black; font-family: Helvetica;letter-spacing: 0px;padding-bottom: 2%;">On the <%= @donation.created_at.strftime("%d %B, %Y | %l:%M %P") %> you donated <%= number_to_currency(@donation.amount / 100) %> to <%= @charity.name %> </p>
        <a href="www.smallchangegiving.co/submissions" , class="btn btn-lg btn-black" style="display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;touch-action: manipulation;cursor: pointer;background-image: none;border: none;white-space: nowrap;padding: 14px 30px;font-size: 14px;line-height: 1.3333333;border-radius: 3px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;color: #fff;background-color: #293241;border-color: #1B1515;text-transform: uppercase;letter-spacing: 1px; text-decoration: none;"> See What's Trending </a>
      </center>
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
</table>