/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$light-black: #293241;
$dark-black: #1B1515;
$bg-green: rgba(0,176,93,1);
$bg-blue: rgba(0,216,214,1);

$transparent: transparent;

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: black;
}
