.admin-header {
text-align: center;
padding-bottom: 20px;
padding-top: 20px;
letter-spacing: 1px;
font-size: 1.5em;
}

.admin-stat {
  text-align: center;
  font-size: 2em;
  padding-top:1px;
  padding-bottom:1px;
}

.admin-category {
  text-align: center;
  letter-spacing: 1px;
}

.admin-box {
  margin-left:-12%;
}

.admin-buttons {
  margin-left: 3%;
  margin-top: 8px;
}