@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";
@import "variables";
@import "navbar";
@import "shared";
@import "footer";
@import "home";
@import "timeline";
@import "card";
@import "submissions";
@import "dashboard";
@import "choose_charity";
@import "submission_show";
@import "faq";

/*html, body {
  margin: 0;
  height: 100%;
}*/

body, .banner-bg {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient(left bottom, $bg-green, $bg-blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, $bg-green, $bg-blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, $bg-green, $bg-blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, $bg-green, $bg-blue); /* Standard syntax  */
  /*background-color: rgba(0,176,93,1);
  background: @include filter-gradient(#00b05d, #00d8d6, horizontal);
  background: @include background-image(linear-gradient(left bottom, rgba(0,176,93,1) 0%, rgba(0,216,214,1) 100%));*/
  background: rgba(0,176,93,1);
  background: -moz-linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,176,93,1)), color-stop(22%, rgba(56,189,125,1)), color-stop(100%, rgba(0,216,214,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  background: linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b05d', endColorstr='#00d8d6', GradientType=1 );
  background-repeat: no-repeat;
}

/* Legacy code */

input[name=one]{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  margin-top: 9px;
  padding: 4px 10px 4px 10px;
  border: solid #fcfeff 1px;
  text-decoration: none;
  background: none;
}

input[name=two]{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  margin-top: 5px;
  padding: 4px 10px 4px 10px;
  border: solid #fcfeff 1px;
  text-decoration: none;
  background: none;
}

input[name=five]{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Courier New;
  font-weight: lighter;
  color: #ffffff;
  font-size: 20px;
  margin-top: 5px;
  padding: 4px 10px 4px 10px;
  border: solid #fcfeff 1px;
  text-decoration: none;
  background: none;
}

input[name=other]{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Helvetica;
  font-weight: 50;
  color: #ffffff;
  font-size: 17px;
  margin-top: 5px;
  padding: 4px 10px 4px 10px;
  border: solid #fcfeff 1px;
  text-decoration: none;
  background: none;

}

.round-button {
  width:25%;
}
.round-button-circle {
  width: 100px;
  height:100px;
  padding-bottom: 100%;
    border-radius: 50%;
  border:10px solid #cfdcec;
    overflow:hidden;
    
    background: green; 
    box-shadow: 0 0 3px gray;
    color: white;
}
.round-button-circle:hover {
  background:#30588e;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
    padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;
    
  text-align:center;
  color:#e2eaf3;
    /*font-family:Verdana;*/
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.apple_pagination {
  background: #ffcc99;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.btn.disabled {
    pointer-events: auto;
}

