.edit-charity {
  color: #fff;
  background-color: #293241;
  border-color: #1B1515;
  border: none;
  border-radius: 3px;
  /* font-weight: 100; */
  text-transform: uppercase;
  font-size: 10px;
  padding: 9px 24px;
  letter-spacing: 1px;
  margin-right: 29px;
  margin-bottom: 30px;
}

.edit-charity:hover {
  color: #fff;
  background-color: #293239;
}

.charity-heading {
  color: white;
  text-align: center;
  font-weight: 100;
  font-size:16px;
  margin-bottom: 60px;
}