@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.logo {
  padding-top: 30px;
  text-align: center;
}

.logo-img {
    border-radius: 50%;
}

.founders {
  padding-top: 30px;
  text-align: center;
}

.founders-img {
    border-radius: 50%;
}

.founder-txt {
    text-align:left
}

.homepage-buttons {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 19px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.hiy-images {
  text-align: center;
  background: none;
}



/* footer */

footer {
  margin-top: 120px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
  }
  small {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* goal page */

  .goal-video {
      text-align: center;
  }

  .bridge {
  text-align:center;
  }

  .heading {
font-family: sans-serif;
  }


/* how it works page */

  .hiy-video {
      text-align: center;
  }


/* situation at a glance page */


.b1, .b2, .b3, .b4{
display:inline-block;
position: relative;
margin: 1%;
float:right;
width:22%;
height:150px;
background-color: lightgrey;
border-radius: 10px;
text-align: center;
font-size: 200%;
}

.fact {
  padding-top: 20%;
  font-size: 200%;
  font-family: serif;
}

.Pie {
  text-align:left;
}

/* FAQ page */

.breakers {
  font-size: 200%;
  font-family: serif;
}

.FAQ_List {
  text-align:center;
}


.tree {
  padding-left: 100px;
  text-align: center;
}
