.dashboard-header {
  color: white;
  /*font-weight: 100;*/
  padding-bottom: 40px;
  padding-top: 30px;
  letter-spacing: 1px;
  text-align: left;
}

.dashboard-form {
  padding-top: 46px;
}

.panel-donation {
  background: rgba(255,255,255, 0.28);
  border-radius: 6px;
  padding-bottom: 43px;
  padding-top: 11px;
  padding-left: 22px;
  padding-right: 15px;
  margin-bottom: 30px;
  margin-bottom: 30px;
  color: white;
}

.panel-donation-margin {
  margin: 0 19px;
}

.dash-subheading {
  color: white;
}

.action-amounts {
  color: white;
  font-size: 30px;
  /*font-size: 30px;*/
  letter-spacing: 1px;
}

#campaigns {
  margin-top: 30px;
}

.btn-donate-now {
  height: 100%;
  width: 100%;
}

.user-rank {
  color: white;
  /*font-size: 90px;*/
  font-size: 50px;
  font-weight: 900;
  margin-top: -10px;
}

.dashboard-box {
  /*padding-right: -3%;*/
  color: white;
}

.dashboard-stat {
  text-align: center;
  font-size: 2.5em;
  padding-top:1px;
  padding-bottom:1px;
}

.dashboard-category {
  text-align: center;
  letter-spacing: 1px;
}

.btn-dashboard {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border-radius: 3px;
  color:white;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.btn-dashboard:hover {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border-radius: 3px;
  color:white;
  background-color: rgba(255,255,255,0.3);
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.dashboard-buttons a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top:5px;
}

.first_link {
  margin-right:10px;
}
