.dashboard-header {
  color: white;
  /*font-weight: 100;*/
  padding-bottom: 40px;
  padding-top: 30px;
  letter-spacing: 1px;
  text-align: left;
}

.dashboard-form {
  padding-top: 46px;
}

.panel-donation {
  background: rgba(255,255,255, 0.28);
  border-radius: 6px;
  padding: 20px;
}

.dash-subheading {
  color: white;
}

.donation-amounts {
  color: white;
  font-size: 40px;
  letter-spacing: 1px;
}

.dash-donation {
  padding-bottom: 40px;
  border-bottom: 0.5px solid white;
}

#campaigns {
  margin-top: 65px;
}
