.envelope-icon {
  font-size:5em;
  text-align: center;
}

.donation-brag {
  margin-bottom: 0;
  color: black;
  letter-spacing: 0.2px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 4%;
  padding-top: 2%;
}

.sc-header-donation {
    color: white;
    text-align: center;
    /* font-weight: 100; */
    padding-bottom: 40px;
    padding-top: 45px;
    letter-spacing: 1px;
}

.first-icon-row {
  font-size: 10em;
  padding-top: 9%;
  text-align: center;
}

.facebook-icon {
  padding-right: 7%;
  padding-left: 3%;
}

.twitter-icon {
  padding-left: 7%;
}

.share-plug {
    color: white;
    /* font-weight: 100; */
    padding-top: 54px;
    letter-spacing: 0.5px;
    text-align: justify;
}

.page-heading-sign-in {
  color: white;
  text-align: center;
  /*font-weight: 100;*/
  padding-bottom: 20px;
}