.envelope-icon {
  font-size:5em;
  text-align: center;
}

.donation-brag {
  margin-bottom: 0;
  color: black;
  letter-spacing: 0.2px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 4%;
  padding-top: 2%;
}

.sc-header-donation {
    color: white;
    text-align: center;
    /* font-weight: 100; */
    padding-bottom: 40px;
    padding-top: 45px;
    letter-spacing: 1px;
}

.first-icon-row {
  font-size: 10em;
  padding-top: 9%;
  text-align: center;
}

.facebook-icon {
  padding-right: 7%;
  padding-left: 3%;
  color: #3b5998;
  font-size: 3em;
  padding-bottom: 2%;
}

.twitter-icon {
   padding-right: 7%;
  padding-left: 3%;
  color: #4099FF;
  font-size: 3em;
  padding-bottom: 2%;
}

.share-plug {
    color: white;
    /* font-weight: 100; */
    padding-top: 22px;
    letter-spacing: 0.6px;
    text-align: center;
}

.page-heading-sign-in {
  color: white;
  text-align: center;
  /*font-weight: 100;*/
  padding-bottom: 20px;
}

.donation-header {
  color: white;
  text-align: center;
  font-weight: 100;
  padding-bottom: 50px;
  padding-top: 40px;
  letter-spacing: 1px;
}

.charity-logo-donation {
  width: 50px;
  margin-bottom: 0px;
}
