.people-bg {
  background-image: url('http://res.cloudinary.com/small-change/image/upload/v1456194152/homepageimages-compressor_f9raeu.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#welcome {
  margin-top: -141px;
}

.welcome-content {
  padding: 120px 0 190px;
}

.gradient-overlay {
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  background-size: cover;
  background: rgba(0,176,93,0.2);
  background: -moz-linear-gradient(45deg, rgba(0,176,93,0.9) 0%, rgba(56,189,125,0.9) 22%, rgba(0,216,214,0.9) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,176,93,0.9)), color-stop(22%, rgba(56,189,125,0.9)), color-stop(100%, rgba(0,216,214,0.9)));
  background: -webkit-linear-gradient(45deg, rgba(0,176,93,0.9) 0%, rgba(56,189,125,0.9) 22%, rgba(0,216,214,0.9) 100%);
  background: -o-linear-gradient(45deg, rgba(0,176,93,0.9) 0%, rgba(56,189,125,0.9) 22%, rgba(0,216,214,0.9) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,176,93,0.9) 0%, rgba(56,189,125,0.9) 22%, rgba(0,216,214,0.9) 100%);
  background: linear-gradient(45deg, rgba(0,176,93,0.9) 0%, rgba(56,189,125,0.9) 22%, rgba(0,216,214,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b05d', endColorstr='#00d8d6', GradientType=1 );
  background-repeat: no-repeat;
}

.welcome-tagline {
  color: white;
  padding-bottom: 40px;
}

#howitworks {
  background-color: white;
  padding-bottom: 100px;
}

.black-header {
  color: #000;
  font-weight: 400;
  text-align: center;
}

#trending {
  background-color: #f9f9f9;
  padding-bottom: 100px;
}

.sc-header-tagline {
  margin-top: -40px;
  text-align: center;
}

.featured-cards {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*a.card:link {
    text-decoration: none;
}

a.card:visited {
    text-decoration: none;
}

a.card:hover {
    text-decoration: underline;
}

a.card:active {
    text-decoration: underline;
}*/
