.page-heading {
  color: white;
  text-align: center;
  /*font-weight: 100;*/
  padding-bottom: 20px;
  padding-top: 40px;
  letter-spacing: 1px;
}

.sc-header {
  color: white;
  text-align: center;
  /*font-weight: 100;*/
  padding-bottom: 40px;
  padding-top: 90px;
  letter-spacing: 1px;
}

@media only screen and (max-device-width : 667px) {
  .sc-header {
    padding-top: 180px;
  }
}

.sc-header-devise {
  color: white;
  text-align: center;
  /*font-weight: 100;*/
  letter-spacing: 1px;
  padding-top: 50px;
}

.header-devise-tagline {
  color: white;
  text-align: center;
  /*font-weight: 100;*/
  padding-bottom: 40px;
  letter-spacing: 1px;
  padding-bottom: 50px;
}

.btn-black-default {
  @include button-variant($btn-primary-color, white, grey);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 30px;
  letter-spacing: 1px;
  color: black;
}

.btn-black-default:hover {
  color: black;
}

.btn-black {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 30px;
  letter-spacing: 1px;
}

.btn-black-in-div {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 12px;
  padding: 14px 30px;
  letter-spacing: 1px;
  margin-bottom: 1.7%;
}

.btn-black-default {
  @include button-variant($btn-primary-color, white, grey);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 30px;
  letter-spacing: 1px;
  color: black;
}

.btn-black-default:hover {
  color: black;
}

.btn-clear {
  color:white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 30px;
  letter-spacing: 1px;
}

.btn-clear:hover {
  text-decoration:none;
}


.btn-devise-alt {
  @include button-variant($btn-primary-color, rgba(255,255,255, 0), #f9f9f9);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 30px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.btn-black-panel {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  letter-spacing: 1px;
  margin-top: 30%;
}

.btn-black-admin {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 1%;
  width: 19%;
}

.btn-black-trending {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  bottom:7px;
  left:60%;
}

.btn-admin {
  margin-top: 10%;
  margin-bottom:8%;
  text-align: center;

}

.btn-black-xs {
  margin-top: 10px;
}

.main-input {
  font-size: 14px;
  padding: 18px 20px;
  border-radius: 3px;
  font-weight: 100;
  letter-spacing: 1px;
}

.devise-input {
  margin-bottom: 10px;
}

.modal-textbox {
  font-size: 20;
}

.modal-title {
  font-size: 25px;
}

.modal-body {
  padding: 30px;
}

.btn-modal {
  margin-top: 20px;
}

.btn-mobile {
  margin-top: 1em;
}

.mobile-input {
  width: 100%;
}
.card-featured {
  height: 340px;
}

.fa-linkedin {
  color:black;
  font-size:2em;
  text-align: right;
}

.card-team {
  margin-top:10%;
}
