.banner {
  border-color: black;
  border-width: 1px;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(139,112,205,1);
  background: -moz-linear-gradient(left, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(139,112,205,1)), color-stop(25%, rgba(149,154,231,1)), color-stop(34%, rgba(152,169,240,1)), color-stop(72%, rgba(150,198,224,1)), color-stop(100%, rgba(149,219,212,1)));
  background: -webkit-linear-gradient(left, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  background: -o-linear-gradient(left, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  background: -ms-linear-gradient(left, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  background: linear-gradient(to right, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b70cd', endColorstr='#95dbd4', GradientType=1 );
  height: 120px;
}

.banner-mobile {
  height: 215px;
  border-color: black;
  border-width: 1px;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(139,112,205,1);
  background: -moz-linear-gradient(left, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(139,112,205,1)), color-stop(25%, rgba(149,154,231,1)), color-stop(34%, rgba(152,169,240,1)), color-stop(72%, rgba(150,198,224,1)), color-stop(100%, rgba(149,219,212,1)));
  background: -webkit-linear-gradient(left, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  background: -o-linear-gradient(left, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  background: -ms-linear-gradient(left, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  background: linear-gradient(to right, rgba(139,112,205,1) 0%, rgba(149,154,231,1) 25%, rgba(152,169,240,1) 34%, rgba(150,198,224,1) 72%, rgba(149,219,212,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b70cd', endColorstr='#95dbd4', GradientType=1 );
}

.banner-tagline {
  text-transform: none;
  letter-spacing: 1px;
  color: white;
  padding: 50px 0px;
  font-size: 16px;
  font-weight: 100;
}

.banner-tagline-donation-top {
  text-transform: none;
  letter-spacing: 1px;
  color: white;
  padding-top: 12%;
  padding-left: 1%;
  font-size: 16px;
  font-weight: 100;
}

.banner-tagline-donation {
  text-transform: none;
  letter-spacing: 1px;
  color: white;
  padding: 0px 0px;
  font-size: 16px;
  font-weight: 100;
}

.banner-headers {
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  padding-top: 40px;
  font-weight: 100;
}

.banner-headers:hover, .banner-headers:focus {
  color: white;
  background-color: transparent;
  text-transform: none;
}

.banner-headers-mobile {
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  padding-top: 58px;
  font-weight: 100;
  font-size: 30px;
}

.btn-banner {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 13px 15px;
  letter-spacing: 1px;
  margin: 37px 10px;
  font-weight: 100;
}

.btn-banner-mobile {
    color: #fff;
    background-color: #293241;
    border-color: #1B1515;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 37px;
    padding: 23px 40px;
    letter-spacing: 1px;
    margin: 57px 10px;
    font-weight: 100;
}

.banner-header-word {
  margin: 0;
  text-align: center;
  color: white;
  background-color: transparent;
}

iframe {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

iframe.iframe-xs {
  margin-top: 107px;
}

iframe.iframe-md {
  margin-top: 10px;
}

.iframe-wrapper {
  overflow:scroll !important; 
  -webkit-overflow-scrolling:touch !important;
  background-color: black;
}

.submission_show {
  background-color: black;
}

.fb-share-button.fb_iframe_widget iframe {
  display: inline ;
  margin-top: 89%;
}

.mobile-fb {
  font-size: 91pt;
}

.desktop-fb {
  font-size: 32pt;
  padding-top: 2%;
}

.submission-title {
  color: white;
  text-align: center;
  font-weight: 800;
  padding-bottom: 30px;
  padding-top: 55px;
  letter-spacing: 1px;
  font-size: 38px;
}

.submission-description {
  color: white;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 46px;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: justify;
}

.submission-source {
  color:white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: right;
  padding-top: 20px;
}

.read-more {
  text-align:center;
  margin-bottom: 200px;
  margin-top: 55px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-black-show {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 30px;
  padding: 14px 30px;
  letter-spacing: 1px;
}
