.terms-text {
  color: white;
  font-size: 14px;
  text-align: justify;
}

.terms-heading {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.tc-text {
  padding-top: 50px;
}

.terms-label {
  padding-left:5px;
  color: #555555;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.radio label, .checkbox label {
  padding-left:26px;
  color: #555555;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}