<p>Welcome <%= @email %>!</p>

<p>We're chuffed that you made your own <a href="http://smallchangegiving.co/">Small Change account</a>.</p>
<p>We are trying to solve “slacktivism” or “Facebook Activism”. The humble like, share or retweet won’t fix the world’s problems. But Small Change can.</p>
<p>We put our Action Bar over any online content you want to share on social media. This gives your friends a simple means of taking action on the content you share, whether that be by donating small change to a related charity, or by signing a related petition.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'btn btn-black btn-lg btn-block' %></p>

<p>Feel free to email me with any questions you have.</p>
<p>Much love</p>
<p>Sam</p><br>
<img src="http://res.cloudinary.com/small-change/image/upload/v1458196252/sc-cut_kunq42.png", width="250px">
