<p>Hello, small changer.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), :style => "    color: #fff;
    background-color: #293241;
    border-color: #1b1515;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 16px;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    white-space: nowrap;
    font-size: 11px;
    line-height: 1.42857143;
    text-decoration: none;
    font-family: Helvetica;" %></p>

<p>Feel free to email me with any questions you have.</p>
<p>Much love</p>
<p>Sam</p><br>
<img src="http://res.cloudinary.com/small-change/image/upload/v1458196252/sc-cut_kunq42.png", width="250px">
