<footer class="navbar navbar-static-bottom">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">  
      <div class="footer-links">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Contact Us", new_enquiry_path(enquiry_type: "General"), class: 'navbar-text' %></li>
          <li><%= link_to "FAQ", faq_path, class: 'navbar-text' %></li>
          <li><%= link_to "About The Founders", founders_path, class: 'navbar-text' %></li>
          <li><%= link_to "T&C", terms_path, class: 'navbar-text' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-facebook fa-nav"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-nav"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram fa-nav"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
